

<!-- Navigation -->

<!-- El resto del codigo se retira porque es redundante y ya lo contienen las paginas  -->
  <!-- El siguiente div se crea para que el codigo del header y el footer esten presentes en toda la pagina sin repetir codigo con la funcionalidad de thymeleaf-->
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" th:href="@{/administrador}">Spring eCommerce</a> <!-- Aca se le indica a donde debe redireccionar sise hace click-->

        <form class="form-inline my-2 my-lg-0" method="post" action="#">
          <input class="form-control mr-sm-2" type="search"
                 placeholder="Buscar" aria-label="Search" name="nombre"
                 autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown"><a
                    class="nav-link dropdown-toggle" href="#"
                    id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> ADMIN </a>

              <div class="dropdown-menu"
                   aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" th:href="@{/productos}">Productos</a> <!-- En esta ancla se coloca la funcion de thymeleaf para redireccionar a la pagina productos al hacer click-->
              </div>

            </li>

          </ul>
        </div>
      </div>
    </nav>

  </div>

  <div th:fragment="footer">
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Spring eCommerce 2023</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>



